/* Assignment 1 */
.shapes{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#shape-1{
    width: 100px;
    height: 80px;
    border: 5px solid #ff0000;
    outline: 5px solid #000000;
    text-align: center;
    font-weight: bold;
    color:#000000;
    background-color:  #eff6f8;
    line-height: 80px;
}
#shape-2{
    width: 100px;
    height: 80px;
    border-top: 5px solid #0000ff;
    border-bottom: 5px solid #0000ff;
    border-left: 5px solid #00ff00;
    border-right: 5px solid #00ff00;
    outline: 5px solid #000000;
    text-align: center;
    font-weight: bold;
    color:#000000;
    background-color:  #eff6f8;
    line-height: 80px;
}
#shape-3{
    width: 100px;
    height: 80px;
    border-top: 5px dashed #ff0000;
    border-bottom: 5px dashed #0000ff;
    border-left: 5px dashed #ffea00;
    border-right: 5px dashed #00ff00;
    outline: 5px solid #000000;
    text-align: center;
    font-weight: bold;
    color:#000000;
    background-color:  #eff6f8;
    line-height: 80px;
}

/* Assignment 2 */
.element-1{
    width: 400px;
    padding: 20px;
    margin: 20px;
    background-color: #eff6f8;
    border-left: 10px solid #ae0964;
}
.element-2{
    width: 400px;
    padding: 20px;
    margin: 20px;
    background-color: #eff6f8;
    border-left: 10px solid #0905df;
    visibility: hidden;
}
.element-3{
    width: 400px;
    padding: 20px;
    margin: 20px;
    background-color: #eff6f8;
    border-left: 10px solid #0a5d4e;
}