/* Assignment 1 */
.assign-1-shape-1{
    width: 500px;
    padding: 20px;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #8a2be2;
}
.assign-1-shape-2{
    width: 500px;
    padding: 20px;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(138, 43, 226, 0.5);
}
.assign-1-shape-3{
    width: 500px;
    padding: 20px;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(271, 76%, 53% , 0.1);
}

/* Assignment 2 */
.assign-2-shape-1{
    width: 400px;
    height: 400px;
    background-image: url(css-assignment-5-8.png);
    background-repeat: no-repeat;
    padding: 30px;
    color:white;
    margin: 30px;
}
.assign-2-shape-2{
    width: 400px;
    height: 400px;
    background-image: url(css-assignment-5-8.png);
    background-repeat: repeat-y;
    padding: 30px;
    color:white;
    margin: 30px;
}
.assign-2-shape-3{
    width: 400px;
    height: 400px;
    background-image: url(css-assignment-5-8.png);
    background-repeat: repeat-x;
    padding: 30px;
    color:white;
    margin: 30px;
}
.assign-2-shape-4{
    width: 400px;
    height: 400px;
    background-image: url(css-assignment-5-8.png);
    background-repeat: repeat;
    padding: 30px;
    color:white;
    margin: 30px;
}

/* Assignment 3 */
.assign-3-shape-1{
    width: 400px;
    height: 400px;
    padding: 30px;
    margin: 30px;
    color:white;
    background-image: url(css-assignment-5-8.png);
    background-repeat: no-repeat;
}
.assign-3-shape-2{
    width: 400px;
    height: 400px;
    padding: 30px;
    margin: 30px;
    color:white;
    background-image: url(css-assignment-5-8.png);
    background-repeat: repeat-y;
    background-position: 200px 0px;
}
.assign-3-shape-3{
    width: 400px;
    height: 400px;
    padding: 30px;
    margin: 30px;
    color:white;
    background-image: url(css-assignment-5-8.png);
    background-repeat: repeat-x;
    background-position: 0px 200px;
}
.assign-3-shape-4{
    width: 400px;
    height: 400px;
    padding: 30px;
    margin: 30px;
    color:white;
    background-image: url(css-assignment-5-8.png);
    background-repeat: repeat;
}

/* Assignment 4 */
.assign-4-shape-1{
    width: 400px;
    height: 400px;
    padding: 30px;
    margin: 30px;
    color: white;
    background-image: url(css-assignment-5-8.png);
    background-repeat: no-repeat;
    background-size: 80%;
}
.assign-4-shape-2{
    width: 400px;
    height: 400px;
    padding: 30px;
    margin: 30px;
    color: white;
    background-image: url(css-assignment-5-8.png);
    background-repeat: repeat-y;
    background-size: 80% auto;
    background-position: right 0px;
}
.assign-4-shape-3{
    width: 400px;
    height: 400px;
    padding: 30px;
    margin: 30px;
    color: white;
    background-image: url(css-assignment-5-8.png);
    background-repeat: repeat-x;
    background-size: auto 80%;
    background-position: 0px bottom;
}
.assign-4-shape-4{
    width: 400px;
    height: 400px;
    padding: 30px;
    margin: 30px;
    color: white;
    background-image: url(css-assignment-5-8.png);
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: bottom right;
}
